@import url('https://fonts.googleapis.com/css2?family=Cal+Sans&display=swap');

* {
margin: 0;
padding: 0;
box-sizing: border-box;
}


body {       
  background-color: ghostwhite;
  color:rgb(3, 3, 68);
  font-family: "Cal Sans", sans-serif;

}

header {
    padding: 2rem;
    background-color: silver;
    text-align: center;
 }

 main {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
 }

 section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
 }

 h2 {
    color: rgb(96, 2, 2);
    font-size: 1.2rem;
 }

 input[type="radio"], input[type="checkbox"] {
    accent-color: rgba(59, 6, 6, 0.697);
 }

 input[type="text"], input[type="password"], input[type="date"], input[type="email"] {
    width: 100%;
    padding: 0.6rem;
    border: 2px solid  rgba(59, 6, 6, 0.697);
    border-radius: 5px;
    background-color:transparent
 }

 input::placeholder {
    color: black;
 }

 select {
    cursor: pointer;
    background-color: transparent
    color: black;
    border-radius: 5px;
 }

 img {
    width: 15rem;
    border-radius: 5px;
    
 }

 table {
    width: 100%;
    border-collapse: collapse;
    border-color: black;
 }

 th {
    background-color: rgba(233, 9, 9, 0.186);
    padding: 1rem;
    color: black;
 }
 
 td {
    color:black;
    padding: 1rem;
    text-align: center;
 }

 tfoot td {
    background-color:  rgba(233, 9, 9, 0.186);
 }

 details {
    
 }
